html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #aa2929;
    font-family: "Raleway", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

.sidebarContext {
    width: 100%;
    height: 80%
}

.backIconContainer {
    float: left;
    width: 15%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.backIcon {
    width: 40px;
    height: 40px;
    margin-left: 2px;
}

.sidebarMgmtButtons {
    width: 100%;
    height: 20%
}

#map {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.meetingButton {
    display: flex;
    height: 70px;
    width: 60%;
    margin: -0.5px auto;
    border-top:1px solid #ff9999;
    border-bottom:1px solid #ff9999;
    background-color: #a81919;
    align-items: center;
    justify-content: center;
}

.meetingButton:hover {
    background-color: #ffc9c9;
    color: black;
}

.meetingInfoTitle {
    text-align: center;
    color: black;
    font-size: 36px;
    width:100%;
}

.sidebarMgmtButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarMgmtButton {
    display: inline-flex;
    height: 70px;
    width: 38%;
    margin: 5px auto;
    border:2px solid #ff9999;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: #a81919;
}

.sidebarMgmtButton:hover {
    background-color: #ffc9c9;
    border-color: #75000f;
    color: black;
}

.meetingSection {
    display: flex;
    width: calc(100% - 80px);
    margin: 20px 20px 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ca5656;
}

.meetingSection i {
    font-size: 3em;
    color: #a81919;
}

.sectionIdentifier {
    width: 20%;
}

.sectionContents {
    width: 80%;
    font-size: 1.5em;
}

.newMeetingInput {
    width: 80%;
    float: right;
}

textarea {
    height: 100px;
    width: 80%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.emailInputs {
    height: 200px;
}

.invitesList, .meetingContent {
    width: 80%;
    float: left;
}

.inviteItem {
    display: flex;
    width: 80%;
    margin: -0.5px 0;
    border-top:1px solid #ff9999;
    border-bottom:1px solid #ff9999;
    background-color: #a81919;
    align-items: center;
    justify-content: center;
}

.submitButton {
    display: inline-flex;
    padding: 10px 10px;
    border:2px solid #ff9999;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #a81919;
}

.submitButton:hover {
    background-color: #ffc9c9;
    color: black;
}
