html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #c41e3a;

    display: flex;
    align-items: center; /*vertical center*/
    justify-content: center; /*horizontal center*/
}

.meeting-button {
	height: 70px;
    width: 200px;
    margin: 10px;
    border:5px solid #ff9999;
    background-color: #c41e3a;
    border-radius: 8px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
