html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #aa2929;
    font-family: "Raleway", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

#sidebarBlackout {
    display: none;
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.sidebarContext {
    width: 100%;
    height: 80%
}

.backIconContainer {
    float: left;
    width: 10%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.backIcon {
    width: 40px;
    height: 40px;
    margin-left: 2px;
}

.sidebarMgmtButtons {
    width: 100%;
    height: 20%
}

#map {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.meetingButton {
    display: flex;
    height: 70px;
    width: 60%;
    margin: -0.5px auto;
    border-top:1px solid #ff9999;
    border-bottom:1px solid #ff9999;
    background-color: #a81919;
    align-items: center;
    justify-content: center;
}

.meetingButton:hover {
    background-color: #ffc9c9;
    color: black;
}

.meetingInfoTitle {
    text-align: center;
    color: black;
    font-size: 36px;
    width:100%;
}

.sidebarMgmtButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarMgmtButton {
    display: inline-flex;
    height: 70px;
    width: 38%;
    margin: 5px auto;
    border:2px solid #ff9999;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: #a81919;
}

.sidebarMgmtButton:hover {
    background-color: #ffc9c9;
    border-color: #75000f;
    color: black;
}

.meetingSection {
    display: flex;
    width: calc(100% - 80px);
    margin: 20px 20px 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ca5656;
}

.meetingSection i {
    font-size: 3em;
    color: #a81919;
}

.backIconContainer i {
    font-size: 2em;
    color: black;
}

.description {
    font-size: 0.7em;
}

.sectionIdentifier {
    width: 20%;
}

.sectionContents {
    width: 80%;
    font-size: 1.5em;
}

.newMeetingInput {
    width: 87%;
    float: right;
}

textarea {
    height: 100px;
    width: 87%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.emailInputs {
    height: 130px;
}

.invitesList, .meetingContent {
    width: 87%;
    float: right;
}

.inviteItem {
    display: flex;
    width: 87%;
    margin: -0.5px 0;
    border-top:1px solid #ff9999;
    border-bottom:1px solid #ff9999;
    background-color: #a81919;
    align-items: center;
    justify-content: center;
}

.submitButton {
    display: inline-block;
    padding: 10px 10px;
    border:2px solid #ff9999;
    border-radius: 4px;
    color: white;
    background-color: #a81919;
}

.submitButton:hover {
    background-color: #ffc9c9;
    color: black;
}

.backIcon:hover {
    color: white;
}

.peek {
    height: 250px;
    width: 30%;
    position:fixed;
    left:0px;
    bottom:0px;
    background-color : #ca5656;
}

.previousMessages {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px;
    border-radius: 8px;
    height: 70%;
    background-color: white;
    color: black;
}

#newMessage {
    border-radius: 8px;
    height: 22px;
    width: 22%;
    background-color: white;
    color: black;
    position:fixed;
    left: 7px;
    bottom: 7px;
}

#sendMessage {
    height: 22px;
    width: 4%;
    position:fixed;
    left: 24%;
    bottom: 7px;
    margin-right: 2px;
}
