html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #aa2929;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

.sidebarContext {
    width: 100%;
    height: 80%
}

.sidebarMgmtButtons {
    width: 100%;
    height: 20%
}

#map {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.meetingButton {
    display: flex;
    height: 70px;
    width: 100%;
    margin: -0.5px 0;
    border-top:1px solid #ff9999;
    border-bottom:1px solid #ff9999;
    background-color: #a81919;
    align-items: center;
    justify-content: center;
}

.meetingButton:hover {
    background-color: #ffc9c9;
    color: black;
}

.meetingsListTitle {
    text-align: center;
    color: black;
}

.sidebarMgmtButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarMgmtButton {
    display: inline-flex;
    height: 70px;
    width: 38%;
    margin: 5px auto;
    border:2px solid #ff9999;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: #a81919;
}

.sidebarMgmtButton:hover {
    background-color: #ffc9c9;
    border-color: #75000f;
    color: black;
}
