html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #c41e3a;
}

.sidebarContext {
    width: 100%;
    height: 80%
}

.sidebarMgmtButtons {
    width: 100%;
    height: 20%
}

#map {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.meetingButton {
    display: flex;
	height: 70px;
    width: 80%;
    margin: 5px auto;
    border:2px solid #ff9999;
    background-color: #c41e3a;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
