html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #c41e3a;
}

#map {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.meetingButton {
    display: flex;
	height: 70px;
    width: 80%;
    margin: 5px auto;
    border:2px solid #ff9999;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.sidebarTitle {
	text-align: center;
}

#meetingMgmtButtons {
	text-align: center;
}

.meetingMgmtButton {
    display: inline-flex;
	height: 70px;
    width: 40%;
    margin: 5px auto;
    border:2px solid #ff9999;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
